asgiref==3.7.2
Django==4.0.4
django-debug-toolbar==4.2.0
djangorestframework==3.13.1
flake8==5.0.4
flake8-quotes==3.3.1
flake8-variables-names==0.0.5
future==0.18.3
mccabe==0.7.0
pep8-naming==0.13.2
pycodestyle==2.9.1
pyflakes==2.5.0
pytz==2023.3.post1
serializers==0.2.4
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3
